<div class="container">
  <%= turbo_frame_tag 'notice' do %>

    <div class="row h-100 justify-content-center">
      <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
        <div class="ms-0 my-1 nomi-subhead-box"></div>
        <div class="ms-2 mb-0 h5">お知らせ</div>
        <div class="mb-1 ms-auto">
          <%= button_to '戻る', event_path(event), method: :get, class: 'btn btn-sm btn-secondary' %>
        </div>
      </div>
    </div>

    <%= form_with model: [event, notice] do |f| %>
      <div class="row h-100 justify-content-center">
        <div class="col-8 mt-2 pt-2 pb-4 ps-0 d-flex flex-column align-items-center nomi-event-width bg-nomi-main">
          
          <%= render "shared/error_messages", resource: f.object %>

          <div class="w-50 mt-2">
            <%= f.label :message, 'お知らせ' %>
            <%= f.text_area :message, class: 'form-control' %>
          </div>
        
          <%= f.submit submit, class: 'w-25 mt-2 btn btn-lg btn-secondary' %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>