<div class="container">
  <%= turbo_frame_tag 'date_guest_table' do %>
    <div class="row h-100 justify-content-center">
      <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
        <div class="ms-0 my-1 nomi-subhead-box"></div>
        <div class="ms-2 mb-0 h5">日程調整</div>
      </div>
    </div>

    <div class="row h-100 justify-content-center">
      <div class="col-8 mt-2 ps-0 nomi-event-width nomi-overflow-x">
        
        <%= form_with model: [@event, @guest] do |f| %>
          <div class="d-flex">
            <div class="nomi-table-date-date">
              <%= f.label :name, '名前' %>
            </div>
            <div class="nomi-table-date-guestinput bg-nomi-main">
              <%= f.text_field :name, class: 'form-control mx-1 p-1' %>
            </div>
          </div>

          <% @possible_dates.each do |possible_date| %>
            <div class="d-flex">
              <div class="nomi-table-date-date h5 my-0">
                <%= possible_date.datetime.strftime("%m/%d %H:%M") %>
              </div>
              <div class="nomi-table-date-guestinput bg-nomi-main">
                -
              </div>
            </div>  
          <% end %>

          <div class="d-flex">
            <div class="nomi-table-date-date">
              <%= f.label :comment, 'コメント' %>
            </div>
            <div class="nomi-table-date-guestinput bg-nomi-main">
              <%= f.text_area :comment, class: 'form-control m-1 p-1' %>
            </div>
          </div>

          <div class="d-flex">
            <div class="nomi-table-date-date"></div>
            <div class="nomi-table-date-guestinput bg-nomi-main">
              <%= f.submit '追加', class: 'btn btn-dark' %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
      

    <%= link_to 'return', event_path(@event) %>

  <% end %>
</div>