<div class="pt-4 mb-4">
  <div class="row h-100 justify-content-center">
    <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
      <div class="ms-0 my-1 nomi-subhead-box"></div>
      <div class="ms-2 mb-0 h5">会費管理</div>
      <div class="mb-1 ms-auto d-flex">
        <% if host_user?(event) %>
          <% if payment_management %>
            <%= button_to '削除', event_payment_management_path(event, payment_management), form: { data: { turbo_confirm: "本当に削除しますか？" } }, method: :delete, class: 'btn btn-sm btn-secondary' %>
          <% else %>
            <%= button_to '作成', event_payment_managements_path(event), method: :post, class: 'btn btn-sm btn-secondary' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row h-100 justify-content-center">
    <div class="col-8 mt-2 ps-0 nomi-event-width">
      <% if payment_management %>
        <div class="ms-4">
        
          <%# 会費管理表 %>
          <div class="nomi-overflow-x">
            <div class="d-flex">
              <div>
                <div class="nomi-table-payment">名前</div>
                <div class="nomi-table-payment">会費</div>
                <div class="nomi-table-payment">状況</div>
              </div>
              <% guests.each do |guest| %>
              <% payment = payment_management.payment(guest) %>
                <div>
                  <%= turbo_frame_tag "payment_#{guest.id}" do %>
                    <% if payment %>
                      <div class="nomi-table-payment">
                        <% if host_user?(event) %>
                          <%= button_to guest.name, edit_event_payment_management_payment_path(event, payment_management, payment), params: { guest_id: guest.id }, method: :get, class: 'btn btn-sm btn-secondary mx-1 px-1' %>
                        <% else %>
                          <%= guest.name %>
                        <% end %>
                      </div>
                      <div class="nomi-table-payment"><%= payment.price %></div>
                      <div class="nomi-table-payment h5 mb-0"><%= payment.status.status %></div>
                    <% else %>
                      <div class="nomi-table-payment">
                        <% if host_user?(event) %>
                          <%= button_to guest.name, new_event_payment_management_payment_path(event, payment_management), params: { guest_id: guest.id }, method: :get, class: 'btn btn-sm btn-secondary mx-1 px-1' %>
                        <% else %>
                          <%= guest.name %>
                        <% end %>
                      </div>
                      <div class="nomi-table-payment"></div>
                      <div class="nomi-table-payment h5 mb-0">未</div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <%# /会費管理表 %>
        
        </div>
      <% else %>
        <div class="ms-4">会費管理は作成されていません</div>
      <% end %>
    </div>
  </div>
</div>