<div class="row h-100 justify-content-center">
  <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
    <div class="ms-0 my-1 nomi-subhead-box"></div>
    <div class="ms-2 mb-0 h5">開催場所</div>
    <div class="mb-1 ms-auto d-flex">
      <% if host_user?(event) %>
        <% if place %>
          <%= button_to '編集', edit_event_place_path(event, place), method: :get, class: 'btn btn-sm btn-secondary' %>
        <% else %>
          <%= button_to '作成', new_event_place_path(event), method: :get, class: 'btn btn-sm btn-secondary' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row h-100 justify-content-center">
  <div class="col-8 mt-2 ps-0 d-flex align-items-center nomi-event-width">
    <% if place %>
      <% if place.url == '' %>
        <div class="ms-4 mb-0 h5"><%= place.place %></div>
      <% else %>
        <%= link_to place.place, place.url, class: 'ms-4 mb-0 h5' %>
      <% end %>
    <% else %>
      <div class="ms-4 mb-0 h5">未入力</div>
    <% end %>
  </div>
</div>

<div class="row h-100 justify-content-center">
  <div class="col-8 mt-2 ps-0 nomi-event-width">
    <% if place && place.comment != '' %>
      <p class="mt-2 mb-0 ms-4">コメント:</p>
      <div class="ms-4 p-1 border"><%= safe_join(place.comment.split("\n"), tag(:br)) %></div>
    <% end %>
  </div>
</div>
