<div class="container">
  <%= form_with url: "/events/#{@event.uid}/sign_in", data: { turbo: false, turbo_method: :post } do |f| %>

    <div class="row pt-4 justify-content-center">
      <div class="col-4 nomi-form-width">
        <div class="text-danger">
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
      </div>
    </div>
    
    <div class="row mb-0 pb-4 justify-content-center">
      <div class="col-4 nomi-form-width">
        <%= f.label :password, '閲覧パスワード' %>
        <%= f.text_field :password, class: 'form-control' %>
      </div>
    </div>
    
    <div class="row mb-4 pb-2 justify-content-center">
      <div class="col-1 nomi-form-btn-width">
        <%= f.submit '送信', class: 'w-100 btn btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>