<%# タイトル /////////////////////////////////////////////////// %>
<div class="container">

  <%= turbo_frame_tag 'edit_title' do %>
    <div class="row h-100 justify-content-center">
      <div class="col-8 mt-2 ps-0 d-flex align-items-center nomi-event-width">
        <div class="mt-1 ms-auto d-flex">
          <% if host_user?(@event) %>
            <%= button_to '編集', edit_event_path(@event), method: :get, class: 'btn btn-sm btn-secondary' %>
            <%= button_to "削除", event_path(@event), method: :delete, 'data-turbo-frame': '_top', form: { data: { turbo_confirm: "日程調整の削除は取り消せません。\n本当に削除しますか？" } }, class: 'ms-1 btn btn-sm btn-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row h-100 mt-3 mb-2 pb-2 justify-content-center border-bottom">
      <div class="col text-center h1"><%= @event.title %></div>
    </div>
  <% end %>

  <%# 開催日 ///////////////////////////////////////////////// %>
  <div class="pt-4 pb-4">
    <div class="row h-100 justify-content-center">
      <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
        <div class="ms-0 my-1 nomi-subhead-box"></div>
        <div class="ms-2 mb-0 h5">開催日</div>
        <div class="mb-1 ms-auto d-flex">
          <% if host_user?(@event) && @event_date %>
            <%= button_to '再調整', event_possible_date_event_date_path(@event, @event_date.possible_date, @event_date), method: :delete, class: 'btn btn-sm btn-secondary' %>
          <% end %>        
        </div>
      </div>
    </div>

    <div class="row h-100 justify-content-center">
      <div class="col-8 mt-2 ps-0 d-flex align-items-center nomi-event-width">
        <% if @event_date %>
          <div class="ms-4 mb-0 h5"><%= @event_date.possible_date.datetime.strftime("%m/%d %H:%M") %></div>
        <% else %>
          <div class="ms-4 mb-0 h5">未調整</div>
        <% end %>
      </div>
    </div>
  </div>

  <%# 開催場所 ///////////////////////////////////////////////// %>
  <div class="pt-4 mb-4">
    <%= turbo_frame_tag 'place' do %>
      <div class="row h-100 justify-content-center">
        <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
          <div class="ms-0 my-1 nomi-subhead-box"></div>
          <div class="ms-2 mb-0 h5">開催場所</div>
          <div class="mb-1 ms-auto d-flex">
            <% if host_user?(@event) %>
              <% if @place %>
                <%= button_to '編集', edit_event_place_path(@event, @place), method: :get, class: 'btn btn-sm btn-secondary' %>
              <% else %>
                <%= button_to '作成', new_event_place_path(@event), method: :get, class: 'btn btn-sm btn-secondary' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    
      <div class="row h-100 justify-content-center">
        <div class="col-8 mt-2 ps-0 d-flex align-items-center nomi-event-width">
          <% if @place %>
            <% if @place.url == '' %>
              <div class="ms-4 mb-0 h5"><%= @place.place %></div>
            <% else %>
              <%= link_to @place.place, @place.url, class: 'ms-4 mb-0 h5' %>
            <% end %>
          <% else %>
            <div class="ms-4 mb-0 h5">未入力</div>
          <% end %>
        </div>
      </div>

      <div class="row h-100 justify-content-center">
        <div class="col-8 mt-2 ps-0 nomi-event-width">
          <% if @place && @place.comment != '' %>
            <p class="mt-2 mb-0 ms-4">コメント:</p>
            <div class="ms-4 border"><%= safe_join(@place.comment.split("\n"), tag(:br)) %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<%# 日程調整 & 出欠状況 ///////////////////////////////////////////////// %>
  <div class="pt-4 pb-4">
    <%= turbo_frame_tag 'date_guest_table' do %>
      <% if @event.event_date %>

        <%# 出欠状況 - タイトル部分 %>
        <div class="row h-100 justify-content-center">
          <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
            <div class="ms-0 my-1 nomi-subhead-box"></div>
            <div class="ms-2 mb-0 h5">出欠状況</div>
            <div class="mb-1 ms-auto d-flex">
              <%= button_to '参加者追加', new_event_guest_path(@event), method: :get, class: 'ms-1 btn btn-sm btn-dark' %>
            </div>
          </div>
        </div>
        <%# /出欠状況 - タイトル部分 %>

        <%# 出欠状況 - 表部分 %>
        <div class="row h-100 justify-content-center">
          <div class="col-8 mt-2 ps-0 nomi-event-width nomi-overflow-x">

            <div class="ms-4 d-flex">
              <div class="nomi-table-date-guestnum">◯の数</div>
              <% @guests.each do |guest| %>
                <div class="nomi-table-date-guest">
                  <%= button_to guest.name, edit_event_guest_path(@event, guest), method: :get, class: 'btn btn-sm btn-dark mx-1 px-1' %>
                </div>
              <% end %>
            </div>


              <div class="ms-4 d-flex">
                <div class="nomi-table-date-guestnum">
                  <%= attendances = @attendances.where(possible_date_id: @event.event_date.possible_date.id, answer_id: 2).length %>
                </div>
                <% @guests.each do |guest| %>
                  <div class="nomi-table-date-guest">
                    <% if attendance = @attendances.find_by(possible_date_id: @event.event_date.possible_date.id, guest_id: guest.id) %>
                      <%= attendance.answer.answer %>
                    <% else %>
                      -
                    <% end %>
                  </div>
                <% end %>
              </div>  


            <div class="ms-4 d-flex">
              <div class="nomi-table-date-guestnum">コメント</div>
              <% @guests.each do |guest| %>
                <div class="nomi-table-date-comment">
                  <%= safe_join(guest.comment.split("\n"), tag(:br)) %>
                </div>
              <% end %>
            </div>

          </div> 
        </div>
        <%# /出欠状況 - 表部分 %>

      <% else %>

        <%# 日程調整 - タイトル部分 %>
        <div class="row h-100 justify-content-center">
          <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
            <div class="ms-0 my-1 nomi-subhead-box"></div>
            <div class="ms-2 mb-0 h5">日程調整</div>
            <div class="mb-1 ms-auto d-flex">
              <% if host_user?(@event) %>
                <%= button_to '候補日追加', new_event_possible_date_path(@event), method: :get, class: 'btn btn-sm btn-secondary' %>
              <% end %>
              <%= button_to '参加者追加', new_event_guest_path(@event), method: :get, class: 'ms-1 btn btn-sm btn-dark' %>
            </div>
          </div>
        </div>
        <%# /日程調整 - タイトル部分 %>

        <%# 日程調整 - 表部分 %>
        <div class="row h-100 justify-content-center">
          <div class="col-8 mt-2 ps-0 nomi-event-width nomi-overflow-x">

            <div class="ms-4 d-flex">
              <div class="nomi-table-date-date">候補日時</div>
              <div class="nomi-table-date-guestnum">◯の数</div>
              <% @guests.each do |guest| %>
                <div class="nomi-table-date-guest">
                  <%= button_to guest.name, edit_event_guest_path(@event, guest), method: :get, class: 'btn btn-sm btn-dark mx-1 px-1' %>
                </div>
              <% end %>
              <% if host_user?(@event) %>
                <div class="nomi-table-date-btn"></div>
              <% end %>
            </div>

            <% @possible_dates.each do |possible_date| %>
              <div class="ms-4 d-flex">
                <div class="nomi-table-date-date h5 my-0">
                  <%= possible_date.datetime.strftime("%m/%d %H:%M") %>
                </div>
                <div class="nomi-table-date-guestnum">
                  <%= attendances = @attendances.where(possible_date_id: possible_date.id, answer_id: 2).length %>
                </div>
                <% @guests.each do |guest| %>
                  <div class="nomi-table-date-guest">
                    <% if attendance = @attendances.find_by(possible_date_id: possible_date.id, guest_id: guest.id) %>
                      <%= attendance.answer.answer %>
                    <% else %>
                      -
                    <% end %>
                  </div>
                <% end %>
                <% if host_user?(@event) %>
                  <div class="nomi-table-date-btn">
                    <%= button_to '削除', event_possible_date_path(@event, possible_date), form: { data: { turbo_confirm: "本当に削除しますか？" } }, method: :delete, class: 'btn btn-sm btn-secondary' %>
                    <%= button_to '確定', event_possible_date_event_dates_path(@event, possible_date), method: :post, 'data-turbo-frame': '_top', class: 'ms-1 btn btn-sm btn-secondary' %>
                  </div>
                <% end %>
              </div>  
            <% end %>

            <div class="ms-4 d-flex">
              <div class="nomi-table-date-date">コメント</div>
              <div class="nomi-table-date-guestnum"></div>
              <% @guests.each do |guest| %>
                <div class="nomi-table-date-comment">
                  <%= safe_join(guest.comment.split("\n"), tag(:br)) %>
                </div>
              <% end %>
              <% if host_user?(@event) %>
                <div class="nomi-table-date-btn"></div>
              <% end %>
            </div>

          </div> 
        </div>
        <%# /日程調整 - 表部分 %>

      <% end %>
    <% end %>
  </div>
</div>
