<% content_for :head do %>
  <%= javascript_import_module_tag "events_show" %>
<% end %>

<%# タイトル /////////////////////////////////////////////////// %>
<div class="container">
  <div class="row pt-3 mb-4 pb-4 border-bottom">
    <div class="col"></div>
    <h1 class="col text-center" id="title"><%= Event.find(@event.id).title %></h1>
    <div class="col d-flex justify-content-end align-items-center">
      <% if host_user?(@event) %>
        <span class="me-2 btn btn-secondary", id="open_form_title">編集</span>
        <%= button_to "削除", event_path(@event), method: :delete, form: { data: { turbo_confirm: "日程調整の削除は取り消せません。\n本当に削除しますか？" } }, class: 'me-2 btn btn-secondary' %>
      <% end %>
    </div>
  </div>

  <%= form_with model:@event, data: { turbo_method: :patch }, class: 'visually-hidden py-4 bg-nomi-main', id: 'form_title' do |f| %>
    <div class="row mb-2 pb-4 justify-content-center">
      <div class="col-4 nomi-form-width">
        <ul class="mb-0 text-danger" id="message_form_title"></ul>
        <%= f.label :title, 'イベント名' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    
    <div class="row mb-4 justify-content-center">
      <div class="col-2 nomi-form-btn-width">
        <%= f.submit '更新', class: 'w-100 btn btn-lg btn-secondary', id: 'submit_form_title' %>
      </div>
    </div>
    <div class="row mb-4 pb-2 justify-content-center">
      <div class="col-2 d-flex justify-content-center nomi-form-btn-width">
        <span class="me-2 btn btn-secondary", id="close_form_title">閉じる</span>
      </div>
    </div>
  <% end %>

  <%# 開催場所 ///////////////////////////////////////////////// %>
  <div class="pt-4 mb-4">
    <div class="row mb-2 justify-content-center nomi-subhead">
      <div class="col-8 h-100 ps-0 d-flex align-items-center border-bottom h5 nomi-event-width">
        <div class="ms-0 my-1 nomi-subhead-box"></div>
        <h5 class="ms-2 mb-0">開催場所</h5>
        <% if host_user?(@event) %>
          <% if @event.event_place %>
            <% open_form_place_text = '編集' %>
          <% else %>
            <% open_form_place_text = '作成' %>
          <% end %>
          <span class="ms-auto btn btn-sm btn-secondary" id="open_form_place"><%= open_form_place_text %></span>
        <% end %>  
      </div>
    </div>
  </div>

  <% if host_user?(@event) %>
    <% if @event.event_place %>
      <% event_place = @event.event_place %>
      <% submit_form_place_text = '更新' %>
    <% else %>
      <% event_place = EventPlace.new %>
      <% submit_form_place_text = '作成' %>
    <% end %>
    <%= form_with model: [@event, event_place], class: 'visually-hidden py-4 bg-nomi-main', id: 'form_place' do |f| %>
      <div class="row mb-2 pb-4 justify-content-center">
        <div class="col-4 nomi-form-width">
          <ul class="mb-0 text-danger" id="message_form_place"></ul>

          <%= f.label :place, '開催場所' %>
          <%= f.text_field :place, class: 'form-control' %>

          <%= f.label :url, 'URL' %>
          <%= f.text_field :url, class: 'form-control' %>

          <%= f.label :comment, '備考' %>
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
      </div>
      <div class="row mb-4 justify-content-center">
        <div class="col-2 nomi-form-btn-width">
          <%= f.submit submit_form_place_text, class: 'w-100 btn btn-lg btn-secondary', id: 'submit_edit_title' %>
        </div>
      </div>
      <div class="row mb-4 pb-2 justify-content-center">
        <div class="col-2 d-flex justify-content-center nomi-form-btn-width">
          <span class="me-2 btn btn-secondary", id="close_form_place">閉じる</span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
