<% content_for :head do %>
  <%= javascript_import_module_tag 'events_show' %>
<% end %>

<%# タイトル /////////////////////////////////////////////////// %>
<div class="container">
  <div class="row pt-3 mb-4 pb-4 border-bottom">
    <div class="col"></div>
    <h1 class="col text-center" id="title"><%= Event.find(@event.id).title %></h1>
    <div class="col d-flex justify-content-end align-items-center">
      <% if host_user?(@event) %>
        <span class="me-2 btn btn-sm btn-secondary", id="open_form_title">編集</span>
        <%= button_to "削除", event_path(@event), method: :delete, form: { data: { turbo_confirm: "日程調整の削除は取り消せません。\n本当に削除しますか？" } }, class: 'me-2 btn btn-sm btn-secondary' %>
      <% end %>
    </div>
  </div>

  <%= form_with model:@event, class: 'visually-hidden py-4 bg-nomi-main', id: 'form_title' do |f| %>
    <div class="row mb-2 pb-4 justify-content-center">
      <div class="col-4 nomi-form-width">
        <ul class="mb-0 text-danger" id="message_form_title"></ul>
        <%= f.label :title, 'イベント名' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    
    <div class="row mb-4 justify-content-center">
      <div class="col-2 nomi-form-btn-width">
        <%= f.submit '更新', class: 'w-100 btn btn-lg btn-secondary', id: 'submit_form_title' %>
      </div>
    </div>
    <div class="row mb-4 pb-2 justify-content-center">
      <div class="col-2 d-flex justify-content-center nomi-form-btn-width">
        <span class="me-2 btn btn-secondary", id="close_form_title">閉じる</span>
      </div>
    </div>
  <% end %>

  <%# 開催場所 ///////////////////////////////////////////////// %>
  <div class="pt-4 mb-4">
    <div class="row h-100 mb-2 justify-content-center nomi-subhead">
      <div class="col-8 mb-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
        <div class="ms-0 my-1 nomi-subhead-box"></div>
        <h5 class="ms-2 mb-0">開催場所</h5>
        <% if host_user?(@event) %>
          <% if @event.event_place %>
            <% open_form_place_text = '編集' %>
          <% else %>
            <% open_form_place_text = '作成' %>
          <% end %>
          <span class="mb-1 ms-auto btn btn-sm btn-secondary" id="open_form_place"><%= open_form_place_text %></span>
        <% end %>  
      </div>

      <div class="col-8 ps-0 d-flex align-items-center h3 nomi-event-width">
        <% if @event.event_place %>
          <% if @event.event_place.url != '' %>
            <%= link_to @event.event_place.place, @event.event_place.url, class: 'ms-4' %>
          <% else %>
            <h3 class="ms-4"><%= @event.event_place.place %></h3>
          <% end %>
        <% else %>
          <h5 class="ms-4">未入力</h5>
        <% end %>
      </div>

      <% if @event.event_place && @event.event_place.comment != '' %>
        <% class_place_comment = 'nomi-dmy' %>
        <% place_comment = safe_join(@event.event_place.comment.split("\n"), tag(:br)) %>
      <% else %>
        <% class_place_comment = 'visually-hidden' %>
        <% place_comment = '' %>
      <% end %>
      <div class="col-8 ps-0 nomi-event-width <%= class_place_comment %>">
        <p class="mt-2 mb-0 ms-4">備考:</p>
        <div class="ms-4 border"><%= place_comment %></div>
      </div>
    </div>
  </div>

  <% if host_user?(@event) %>
    <%= form_with model: [@event, @event_place], class: 'visually-hidden my-4 bg-nomi-main', id: 'form_place' do |f| %>
      <div class="row mb-2 pb-4 justify-content-center">
        <div class="col-4 nomi-form-width">
          <ul class="mb-0 text-danger" id="message_form_place"></ul>

          <%= f.label :place, '開催場所' %>
          <%= f.text_field :place, class: 'form-control' %>

          <%= f.label :url, 'URL' %>
          <%= f.text_field :url, class: 'form-control' %>

          <%= f.label :comment, '備考' %>
          <%= f.text_area :comment, class: 'form-control' %>

          <div class="row my-4 justify-content-center">
            <div class="col-2 nomi-form-btn-width">
              <% name_submit_form_place = '作成' %>
              <% name_submit_form_place = '更新' if @event.event_place %>
              <%= f.submit name_submit_form_place, class: 'w-100 btn btn-lg btn-secondary', id: 'submit_form_place' %>
            </div>
          </div>
          <div class="row mb-4 justify-content-center">
            <div class="col-2 d-flex justify-content-center nomi-form-btn-width">
              <span class="me-2 btn btn-secondary", id="close_form_place">閉じる</span>
            </div>
          </div>
        </div>
      </div>
      
    <% end %>
  <% end %>

  <%# 開催日 ///////////////////////////////////////////////// %>
  <div class="pt-4 mb-4">
    <div class="row h-100 mb-2 justify-content-center nomi-subhead">
      <div class="col-8 mb-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
        <div class="ms-0 my-1 nomi-subhead-box"></div>
        <h5 class="ms-2 mb-0">開催日</h5>
      </div>

      <div class="col-8 ps-0 d-flex align-items-center h5 nomi-event-width">
        <h3 class="ms-4">未入力</h3>
      </div>
    </div>
  </div>

  

  <%# 日程調整 ///////////////////////////////////////////////// %>
  <div class="pt-4 mb-4">
    <div class="row h-100 mb-2 justify-content-center nomi-subhead">
      <div class="col-8 mb-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
        <div class="ms-0 my-1 nomi-subhead-box"></div>
        <h5 class="ms-2 mb-0">日程調整</h5>
        <span class="mb-1 ms-auto btn btn-sm btn-secondary" id="open_form_date">追加</span>
      </div>

      <div class="col-8 mt-4 ps-0 nomi-event-width nomi-overflow-x">
        <table class="table ms-4 text-center">
          <tr>
            <td class="nomi-table-date">候補日時</td>
            <td>参加者</td>
            <td class="nomi-table-date-guest"><span class="btn btn-sm btn-dark">田中</span></td>
            <td class="nomi-table-date-guest"><span class="btn btn-sm btn-dark">山田</span></td>
            <td class="nomi-table-date-guest"><span class="btn btn-sm btn-dark">木村</span></td>
            <td class="nomi-table-date-guest"><span class="btn btn-sm btn-dark">佐藤</span></td>
            <td class="nomi-table-date-guest"><span class="btn btn-sm btn-dark">中村</span></td>
            <td class="text-end">
              <span class="btn btn-sm btn-dark" id="">追加</span>
            </td>
          </tr>
          <% @possible_dates.each do |possible_date| %>
            <tr>
              <td class="h5 text-start"><%= possible_date.datetime.strftime("%m/%d %H:%M") %></td>
              <td>4</td>
              <td>⭕️</td>
              <td>❌</td>
              <td>⭕️</td>
              <td>⭕️</td>
              <td>⭕️</td>
              <td class="text-end">
                <span class="btn btn-sm btn-secondary" id="">編集</span>
                <span class="btn btn-sm btn-secondary" id="">確定</span>
              </td>
            </tr>
          <% end %>
          <%#
          <tr>
            <td class="h5 text-start">5/20 17:00</td>
            <td>4</td>
            <td>⭕️</td>
            <td>❌</td>
            <td>⭕️</td>
            <td>⭕️</td>
            <td>⭕️</td>
            <td class="text-end">
              <span class="btn btn-sm btn-secondary" id="">編集</span>
              <span class="btn btn-sm btn-secondary" id="">確定</span>
            </td>
          </tr>
          <tr>
            <td class="h5 text-start">5/21 17:00</td>
            <td>4</td>
            <td>⭕️</td>
            <td>❌</td>
            <td>⭕️</td>
            <td>⭕️</td>
            <td>⭕️</td>
            <td class="text-end">
              <span class="btn btn-sm btn-secondary" id="">編集</span>
              <span class="btn btn-sm btn-secondary" id="">確定</span>
            </td>
          </tr>
          <tr>
            <td class="h5 text-start">5/22 17:00</td>
            <td>3</td>
            <td>⭕️</td>
            <td>❌</td>
            <td>⭕️</td>
            <td>❌</td>
            <td>⭕️</td>
            <td class="text-end">
              <span class="btn btn-sm btn-secondary" id="">編集</span>
              <span class="btn btn-sm btn-secondary" id="">確定</span>
            </td>
          </tr>
          %>
          <tr class="small">
            <td>コメント</td>
            <td></td>
            <td></td>
            <td class="nomi-table-date-comment">行けたら行く多分行けないと思う</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div> 

    </div>
  </div>

  <% if host_user?(@event) %>
    <%= form_with url: "#{request.url}/possible_dates", class: 'visually-hidden my-4 bg-nomi-main', id: 'form_date' do |f| %>
      <div class="row mb-2 pb-4 justify-content-center">
        <div class="col-4 nomi-form-width">
          <ul class="mb-0 text-danger" id="message_form_date"></ul>

          <%= f.label :datetime, '開催場所' %>
          <%= f.datetime_field :datetime, class: 'form-control' %>

          <div class="row my-4 justify-content-center">
            <div class="col-2 nomi-form-btn-width">
              <%= f.submit '作成', class: 'w-100 btn btn-lg btn-secondary', id: 'submit_form_date' %>
            </div>
          </div>
          <div class="row mb-4 justify-content-center">
            <div class="col-2 d-flex justify-content-center nomi-form-btn-width">
              <span class="me-2 btn btn-secondary", id="close_form_date">閉じる</span>
            </div>
          </div>
        </div>
      </div> 
      
    <% end %>
  <% end %>
</div>
