<%# タイトル /////////////////////////////////////////////////// %>
<div class="container">

  <%= turbo_frame_tag 'edit_title' do %>
    <div class="row h-100 justify-content-center">
      <div class="col-8 mt-2 ps-0 d-flex align-items-center nomi-event-width">
        <div class="mt-1 ms-auto d-flex">
          <% if host_user?(@event) %>
            <%= button_to '編集', edit_event_path(@event), method: :get, class: 'btn btn-sm btn-secondary' %>
            <%= button_to "削除", event_path(@event), method: :delete, 'data-turbo-frame': '_top', form: { data: { turbo_confirm: "日程調整の削除は取り消せません。\n本当に削除しますか？" } }, class: 'ms-1 btn btn-sm btn-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row h-100 mt-3 mb-2 pb-2 justify-content-center border-bottom">
      <div class="col text-center h1"><%= @event.title %></div>
    </div>
  <% end %>

  <%# 開催日 ///////////////////////////////////////////////// %>
  <div class="pt-4 pb-4">
    <%= render partial: 'event_date', locals: { event: @event, event_date: @event_date } %>
  </div>

  <%# 開催場所 ///////////////////////////////////////////////// %>
  <div class="pt-4 mb-4">
    <%= turbo_frame_tag 'place' do %>
      <%= render partial: 'place', locals: { event: @event, place: @place } %>
    <% end %>
  </div>

  <%# お知らせ ///////////////////////////////////////////////// %>
  <div class="pt-4 mb-4">
    <%= turbo_frame_tag 'notice' do %>
      <%= render partial: 'notice', locals: { event: @event, notice: @notice } %>
    <% end %>
  </div>

  <%# 日程調整 & 出欠状況 ///////////////////////////////////////////////// %>
  <div class="pt-4 pb-4">
    <%= turbo_frame_tag 'date_guest_table' do %>
      <%= render partial: 'date_guest_table', locals: { event: @event, event_date: @event_date, possible_dates: @possible_dates, guests: @guests } %>
    <% end %>
  </div>

</div>
