<% tag_edit_possible_date = "edit_possible_date_#{@possible_date.id}" %>
<%= turbo_frame_tag tag_edit_possible_date do %>
  <%= form_with model: [@event, @possible_date] do |f| %>
    <div class="d-flex">
      <div class="nomi-table-date-date flex-column bg-nomi-main">
        <%= f.datetime_field :datetime, class: 'form-control py-0 px-0', style: 'width: 160px;' %>
        <div class="mt-1">
          <%= f.submit '更新', class: 'btn btn-sm btn-secondary' %>
          <%= link_to '戻る', event_path(@event), class: 'btn btn-sm btn-secondary' %>
        </div>
        
      </div>
      <div class="nomi-table-date-guestnum">
        0
      </div>
      <div class="nomi-table-date-btn bg-nomi-main">
      </div>
    </div>
  <% end %>
<% end %>