<!DOCTYPE html>
<html>
  <head>
    <title>nominomo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>
    
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light height-nomi-header fixed-top bg-nomi-header">
        <div class="container">
          <%= link_to 'nominomo', root_path, class: 'navbar-brand' %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to current_user.name, user_path(current_user), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ユーザー登録', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="p-3 height-nomi-footer bg-secondary">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to 'Features', '#', class: 'nav-link px-2 text-white' %></li>
            <li><%= link_to 'Pricing', '#', class: 'nav-link px-2 text-white' %></li>
            <li><%= link_to 'FAQs', '#', class: 'nav-link px-2 text-white' %></li>
            <li><%= link_to 'About', '#', class: 'nav-link px-2 text-white' %></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
